.navbar {
  background-color: orange;
}
h1,
h2,
h5 {
  color: orange;
}

.content-1 {
  background-color: lightgoldenrodyellow;
}
.content-2 {
  background-color: yellow;
}
.content-3 {
  background-color: lightsalmon;
}
.content-4 {
  background-color: orange;
}

.card-header {
  background-color: orange;
}
/* .btn {
  background-color: orange;
} */
.btn-orange {
  background-color: orange;
}

.btn-dark {
  background-color: black;
}
